

.bg-auburn {
    background-color: #922724 !important;
    color:#fff !important;
}



.bg-hunter {
    background-color: #355e3b !important;
    color:#fff !important;
}

.bg-jet {
    background-color: #050002 !important;
    color:#fff !important;
}

.bg-redd {
    background-color: #d60e0e !important;
    color:#fff !important;
}

.bg-rusty {
    background-color: #b7410e !important;
    color:#fff !important;
}

.bg-slate {
    background-color: #708090 !important;
    color:#fff !important;
}

.bg-sterling {
    background-color: #bec2cb !important;
    color:#000000 !important;
}

.bg-fuschia {
    background-color: #FF0080 !important;
    color:#000000 !important;
}

.bg-cinnamon {
    background-color: #D2691E !important;
    color:#fff !important;
}

.bg-diamond {
    background-color: #c8e5eb !important;
    color:#000000 !important;
}

.bg-crystal {
    background-color: #a7d8de !important;
    color:#000000 !important;
}

.bg-ebony {
    background-color: #282C34 !important;
    color:#fff !important;
}

.bg-amber {
    background-color: #ffbf00 !important;
    color:#000000 !important;
}

.bg-hazel {
    background-color: #776536 !important;
    color:#fff !important;
}

.bg-ruby {
    background-color: #9b111e !important;
    color:#fff !important;
}

.bg-sable {
    background-color: #624a3e !important;
    color:#fff !important;
}

.bg-siena {
    background-color: #A0522D !important;
    color:#fff !important;
}

.bg-scarlet {
    background-color: #ff2400 !important;
    color:#000 !important;
}

.bg-turquoise {
    background-color: #40E0D0 !important;
    color:#000 !important;
}

.bg-gold {
    background-color: #D0B240 !important;
    color:#000 !important;
}

.bg-raven {
    background-color: #667480 !important;
    color:#fff !important;
}

.bg-azure {
    background-color: #F0FFFF !important;
    color:#000 !important;
}
