body{
    font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

div.auth-content{
    height: 55em;
    padding-top: 10em;
}

a.free-trial{
    border: 1px solid #b68c5d;
    border-radius: 4px;
    padding: 6px 15px !important;
    margin: 5px !important;
}

a.free-trial:hover{
    background: #b68c5d !important;
    color:#f5f8fa !important;
}

.latte-carousel{
    max-height: 700px;
    overflow: hidden !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%) !important;
}

.latte-carousel > div.item > img{
    max-height: 700px;
    margin:0 auto;
    width: 100%;

}

.displayInlineBlock{
    display: inline-block !important;
}

.latte-menu, .latte-brand{
    font-weight: bold;
}


.latte-brand img{
    display: inline-block;
    width: 30px;
    height:30px;
    margin-top: -5px;
}

.latte-icons{
    font-size: 2em;
}

.latte-brand{
    color:#b68c5d !important;
}

.latte-nav{
    margin-bottom: 0 !important;

}

.process-tree{
    background: #f5f5f5 !important;
    margin-bottom: 0 !important;
}

.info-stuff{
    background: #fcf8e3 !important;
    min-height: 900px;
}

.info-stuff .container{
    padding-top: 10em;
}

.info-stuff .container div h5{
    line-height: 25px;
    min-height: 100px;
}

img.tree{
    width:100%;
    display: inline-block;
}

.data-stuff{
    background: #eef1f2 !important;
    min-height: 900px;
}

.data-stuff .container{
    padding-top: 10em;

}
img.twit {
    width: 100%;
    display: inline-block;
}

.trial-stuff{
    background: #b68c5d !important;
    min-height: 550px;
}

.trial-center {
    padding: 15px 35px 15px 35px !important;
    min-height: 350px;
    margin-top: 8em;

}

.trial-center h3{
    font-weight: bolder;
}

.trial-center ul li{
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}


.btn-ban{
     background: #b68c5d !important;
     color:#fff6f6 !important;
     font-size: 1.5em;
     font-weight:bold;
     line-height: 20px;
     width: 80%;
     margin: 0 10%!important;
 }

.btn-brown{
    background: #b68c5d !important;
    color:#fff6f6 !important;
    font-size: 1.5em;
    font-weight:bold;
    line-height: 20px;
    width: 80%;
    margin: 0 10%!important;
}

.footer-stuff{
    background: #7c8485 !important;
    min-height: 350px;
   padding-top: 9em;
    color: #ffffff;

}

.footer-stuff  ul li{
    font-weight: bolder;
    list-style: none;


}

.break-word{
    word-wrap: break-word;
}

img.gal-media{
    width: 100%;
    height:200px;
}

video.gal-media
{
    width: 100%;
    height: 200px;
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:30%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}

.not-bell{
    top:-0.7em !important;
    left:20px !important;
    font-size: 30px !important;
}

.span-count{
    font-size:40px !important;
    top:-0.5em !important;;
    position:relative !important;;
    height:auto !important;
}

.bg-bill-error{
    background-color: #d9534f;
    color:#f5f5f5;
    border-radius: 5px;
    padding: 15px;
    margin: 2em 0;
}

.bg-bill-error a{
    color:#f0f1f4;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.bg-bill-error a:hover{
    color: #1b150d;
}

.curriculum a{
    text-decoration: none;

}

.card-curriculum{
    margin: 0 auto 2rem;
    background-color: white;
    word-wrap: break-word;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
    transition: all 100ms;
}

.card-curriculum:hover{
    margin: 0 auto 2rem;
    background-color: white;
    word-wrap: break-word;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 1em 0 -0.25em #f2f2f2, 0 1.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1.5em 0 -0.5em #e5e5e5, 0 1.5em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}

div.panel-body > a{
    text-decoration: none;
}

.card-curriculum-footer a{
    font-size: 1em;

}

#curriculum strong {
    font-size: 16px;
    color: #7b8b8e;
    margin-bottom: 8px;
    display: block;
}


.bg-auburn {
   background-color: #922724 !important;
    color:#fff !important;
}



.bg-hunter {
    background-color: #355e3b !important;
    color:#fff !important;
}

.bg-jet {
    background-color: #050002 !important;
    color:#fff !important;
}

.bg-redd {
    background-color: #d60e0e !important;
    color:#fff !important;
}

.bg-rusty {
    background-color: #b7410e !important;
    color:#fff !important;
}

.bg-slate {
    background-color: #708090 !important;
    color:#fff !important;
}

.bg-sterling {
    background-color: #bec2cb !important;
    color:#000000 !important;
}

.bg-fuschia {
    background-color: #FF0080 !important;
    color:#000000 !important;
}

.bg-cinnamon {
    background-color: #D2691E !important;
    color:#fff !important;
}

.bg-diamond {
    background-color: #c8e5eb !important;
    color:#000000 !important;
}

.bg-crystal {
    background-color: #a7d8de !important;
    color:#000000 !important;
}

.bg-ebony {
    background-color: #282C34 !important;
    color:#fff !important;
}

.bg-amber {
     background-color: #ffbf00 !important;
    color:#000000 !important;
 }

.bg-hazel {
      background-color: #776536 !important;
    color:#fff !important;
  }

.bg-ruby {
    background-color: #9b111e !important;
    color:#fff !important;
}

.bg-sable {
    background-color: #624a3e !important;
    color:#fff !important;
}

.bg-siena {
    background-color: #A0522D !important;
    color:#fff !important;
}

.bg-scarlet {
    background-color: #ff2400 !important;
    color:#000 !important;
}

.bg-turquoise {
    background-color: #40E0D0 !important;
    color:#000 !important;
}

.bg-gold {
    background-color: #D0B240 !important;
    color:#000 !important;
}

.bg-raven {
    background-color: #667480 !important;
    color:#fff !important;
}

.bg-azure {
    background-color: #F0FFFF !important;
    color:#000 !important;
}

.latte-hover{
    color: #3a2968;
    transition: all 500ms;
}
.latte-hover:hover{
    color:#b68c5d;
    text-decoration: none;
}

.latte-video{
    width:100%;
}

.user-footer{
    margin: 30px 0 60px 0;
}

.latte-footer ul li{
    float:left;
    list-style: none;
    padding: 5px;
    font-size: 2em;
}


.latte-footer-right ul li{
    float:left;
    list-style: none;
    padding: 5px;
}

.latte-footer-right ul li a{
    line-height: 50px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.9em;
}

.latte-tutorial-next , .latte-tutorial-next:hover{
    padding-right: 2em;
    text-decoration: none;
}

.latte-quiz{
    padding-left:2em;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 1.3em;
}

.btn-is-disabled {
    pointer-events: none; /* Disables the button completely. Better than just cursor: default; */
    opacity: 0.7;
    cursor: not-allowed;
}

.latte-course-upgrade{
    position:absolute;
    width:50px;
    height:50px;
    right:0;
}

.header-curriculum{
    padding:5px;
    border-radius: 3px;
    background-color: #b68c5d;
    color:#fff6f6;
    font-size: 20px;
    width:100%;
    margin: 10px 0 !important;
}

.upgrade-content{
    margin-top: 20px;
}

.payment-button{
    display: none;
}

.search-list{
    background: #ffffff !important;
    list-style: none;
    width: 100%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.search-list li{
    display: inline-block;
    width: 100%;
}

.search-list li a h6, .search-list li a img{
    display: inline-block;
    float:left;

}


.about {
    padding: 50px;
    margin-left: 500px;
    margin-right: 50px;


}

.bord {
     border-top: groove solid;
     border-top: 5px;
     border-color: gray;

}

.float {
float:left;
}



.btn-code-block{
    background-color: #b68c5d;
    color:#fff6f6 !important;
    margin: 0.5em 1.5em;
    line-height:10px !important;
    transition:color 0.25s ease;
    font-weight: bolder;
    position: relative;
    border: 3px solid #b68c5d;
}
.btn-code-block:hover{
    background-color: #fff6f6;
    color:#000 !important;
    border: 3px solid #b68c5d;

}

.btn-code-block:focus{
    background-color: #b68c5d !important;
    color:#fff6f6 !important;
    margin: 0.5em 1em;
    line-height:10px !important;
    transition:width 0.25s ease;
}

.btn-code-block::after {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform-origin:left;
    transition:width 0.25s ease;
    z-index:-1;
}

.btn-code-block:hover::after {
    width: 100%;
}










